# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.egg

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Testing
.pytest_cache/
*.cover
.coverage
htmlcov/

# OS
Thumbs.db

datos/nyc/*
bronze_output/*

!datos/nyc/.gitkeep
!bronze_output/.gitkeep
